@model WebApplication1.Models.GroupTable.GroupListViewModel

@{ 
    string controllerName = "Group";
}
<div>
    <h1>Список групп</h1>
    @foreach (var groupName in Model.GroupList)
            {
                <div class ="groupList">
                    @*@groupName.Name*@
                     @Html.ActionLink(groupName.Name, "Details", "Group", new { id = groupName.Id }, new { @class = "navbar-brend" })
                     <div class="editGroup" style="float: right;">
                      @Html.ActionLink( "Редактировать", "Edit", "Group", new { id = groupName.Id }, new { @class = "navbar-brend" })
                     </div>
                      <div class="deleteGroup" style="float: right;">
                      @Html.ActionLink( "Удалить", "Delete", "Group", new { id = groupName.Id }, new { @class = "navbar-brend" })
                     </div>   
                </div>
            }
            <div  class="createGroup" style="position:relative; left:50%;">
                  @Html.ActionLink( "Создать", "Create", controllerName, new { area = "" }, new { @class = "navbar-brend" })
            </div>
</div>