@model WebApplication1.Models.StudentTable.Student

@{
    string controllerName = "Student";
}

<div>
    <h1>Студент : @Model.Name</h1>
    <div>Телефон : @Model.Phone</div>
    @if (Model.StudentPhoto != null)
    {
        <img style="width:200px; height:150px;" class="photo" src="@Url.Content(Model.StudentPhoto.Path)">
    }

    <div class="createStudent" style="position:relative; left:50%;">
        @Html.ActionLink("На главную", "Index", controllerName, new { area = "" }, new { @class = "navbar-brend" })
    </div>
</div>