@model WebApplication1.Models.SubjectTable.SubjectViewModel
@{
    string controllerName = "Subject";
}
<style>
    input {
        position: relative
    }

    div {
        padding-bottom: 10px;
    }
</style>
<div>
    @using (Html.BeginForm("Edit", controllerName, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
    {
        <h1>Редактировать предмет</h1>

        <label>Введите название предмета :</label>
        <span asp-validation-for="Name" style="color:red;"></span>
        <div>@Html.TextBoxFor(x => x.Subject.Name, new { @class = "form-control" })</div>

        <label>Выберите куратора :</label>
        <span asp-validation-for="TeacherId" style="color:red;"></span>
        <div>@Html.DropDownListFor(x => x.TeacherId, Model.TeacherList, new { @class = "form-control" })</div>

        <input type="submit" value="Добавить в список предметов" />
    }

    <div>
        @Html.ActionLink("Сохранить изменения", "Index")
    </div>
</div>