@model WebApplication1.Models.SubjectTable.SubjectListViewModel

@{
    string controllerName = "Subject";
}
<div>
    <h1>Список предметов</h1>
    @foreach (var subjectName in Model.SubjectList)
    {
        <div class="teacherList">
            @*teacherName.Name*@
            @Html.ActionLink(subjectName.Name, "Details", "Subject", new { id = subjectName.Id }, new { @class = "navbar-brend" })
            <div class="editSubject" style="float: right;">
                @Html.ActionLink("Редактировать", "Edit", "Subject", new { id = subjectName.Id }, new { @class = "navbar-brend" })
            </div>
            <div class="deleteSubject" style="float: right;">
                @Html.ActionLink("Удалить", "Delete", "Subject", new { id = subjectName.Id }, new { @class = "navbar-brend" })
            </div>
        </div>
    }
    <div class="createSubject" style="position:relative; left:50%;">
        @Html.ActionLink("Создать", "Create", controllerName, new { area = "" }, new { @class = "navbar-brend" })
    </div>
</div>